@model IEnumerable<UCGrab.Models.OrderViewModel>

@{
    ViewBag.Title = "ToDeliver";
    Layout = "~/Views/Shared/_DeliveryLayoutPage.cshtml";
}

<div class="row px-xl-5">
    <div class="col-lg-12 mb-4">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="">To Deliver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#toDeliver">Received</a>
            </li>
        </ul>
    </div>
</div>

